.Chat-app{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.Chat-title{
    width: 100%;
    color: white;
    font-weight: 400;
}

.Chat-container{
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.Chat-sendForm{
    width: 100%;
    display: inline-block;
}

.Chat-message{
    font-size: 20px;
    width: 100%;
    color:rgb(194, 194, 194);
    text-align: left;
}

.Chat-input{
    width: 60%;
    color:rgb(194, 194, 194);
    text-align: left;

    top : .5em;
    border: 0;
    outline: 0;
    line-height: 30px;
    background: transparent;
    border-bottom: 2px solid #63ce50;
    
    font-size: 20px;
    font-weight: 50;
    padding-left: 10px;
    padding-right: 10px;
}

.Chat-button{
    border: none;
    outline:none;
    background-color: transparent;
    color : #63ce50;
    font-size: calc(10px + .5em);
    font-weight: 200;
    padding: 3px 20px;
    text-align: center;
    position: relative;
    top: 12px;
}