.SidebarChat-message{
    color:white;
    font-size: 20px;
    margin : 2%;
}

.SidebarChat-message p{
    margin:0;
}

.SidebarChat-user{
    width:80%;
    background-color: white;
    color:black;
    border: solid 2px rgb(37, 37, 37);
    text-align: left;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.SidebarChat-user.other{
    float : left;
}

.SidebarChat-user.me{
    float : right;
    text-align: right;
    background-color: rgb(116, 221, 102);
    color : black;
}

.SidebarChat-user-name{
    font-size: 15px;
    margin:0;
}

.SidebarChat-broadcast{
    text-align: center;
}

.SidebarChat-local{
    text-align: center;
}

